<template>
  <div class="weather-modal-wrapper">
    <div class="weather-modal">
      <h3 class="weather-modal__title">Choose a city</h3>
      <p class="weather-modal__subtitle">
        To find city start typing and pick one from the suggestions
      </p>
      <div class="form-group">
        <input
          v-model="city"
          :class="{ 'weather-modal__input--error': $v.city.isError }"
          class="weather-modal__input"
          placeholder="Search city"
          type="text"
          ref="focus"
        >
        <div
          v-if="$v.city.isError"
          class="error"
        >city is not defined</div>
      </div>
      <div class="weather-modal__buttons">
        <ButtonPrimary
          class="weather-modal__buttons-button"
          :isDisabled="disabledButton"
          @click-button="clear"
        >clear</ButtonPrimary>
        <ButtonPrimary
          class="weather-modal__buttons-button"
          @click-button="closeModal"
        >cancel</ButtonPrimary>
        <ButtonPrimary
          :isDisabled="disabledButton"
          class="weather-modal__buttons-button"
          @click-button="addCity"
        >add</ButtonPrimary>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonPrimary from './../ButtonPrimary'
import { mapActions, mapGetters } from 'vuex'
import required from 'vuelidate/lib/validators/required'

export default {
  name: 'AddCityWeatherModal',
  components: {
    ButtonPrimary
  },
  data () {
    return {
      city: '',
      disabledAdd: false
    }
  },
  computed: {
    ...mapGetters({
      getSearchError: 'getSearchError'
    }),
    disabledButton () {
      return this.city === ''
    }
  },
  validations: {
    city: {
      required,
      isError () {
        return this.getSearchError
      }
    }
  },
  mounted () {
    this.$refs.focus.focus()
  },
  methods: {
    ...mapActions({
      addCityByName: 'addCityByName',
      clearError: 'clearError'
    }),
    async addCity () {
      await this.addCityByName(this.city)
      if (!this.getSearchError) {
        this.closeModal()
      }
    },
    clear () {
      this.city = ''
      this.clearError()
    },
    closeModal () {
      this.$emit('close-modal')
      this.clear()
    }
  }
}
</script>

<style scoped>
.weather-modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 11, 0.5);
}

.weather-modal {
  max-width: 751px;
  width: 100%;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.14), 0 6px 30px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: start;
}

.weather-modal .weather-modal__title {
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 38px;
}
.weather-modal .weather-modal__subtitle {
  margin-bottom: 51px;
  font-size: 24px;
  line-height: 24px;
  color: #767676;
}

.weather-modal .form-group {
  margin-bottom: 140px;
  width: 100%;
}

.weather-modal .weather-modal__input {
  width: 100%;
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid #1b1b1b;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  outline: none;
}

.weather-modal .weather-modal__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #C1C1C1;
}

.weather-modal .weather-modal__input.weather-modal__input--error {
  border-bottom: 1px solid #FF0101;
}

.weather-modal .weather-modal__buttons {
  display: flex;
}

.weather-modal .weather-modal__buttons .weather-modal__buttons-button:first-child {
  margin-right: auto;
}
.weather-modal .weather-modal__buttons .weather-modal__buttons-button:nth-child(n + 2) {
  margin-left: 31px;
}

.error {
  margin-top: 12px;
  color: #FF0101;
}
</style>
