<template>
  <button class="button-primary" :disabled="isDisabled" @click="clickButton()">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'ButtonPrimary',
  props: {
    isDisabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clickButton () {
      this.$emit('click-button')
    }
  }
}
</script>

<style scoped>
.button-primary {
  border: none;
  background: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9B51E0;
  cursor: pointer;
}

.button-primary:disabled {
  color: #C1C1C1;
}
</style>
