<template>
  <div class="card-content-wrapper">
    <div class="card-content">
      <p class="card-content__text">Weather</p>
      <p class="card-content__text">{{ item.weather }}</p>
    </div>
    <div class="card-content">
      <p class="card-content__text">Temperature</p>
      <p class="card-content__text">{{ item.temperature }} °C</p>
    </div>
    <div class="card-content">
      <p class="card-content__text">Humidity</p>
      <p class="card-content__text">{{ item.humidity }} %</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardContent',
  props: {
    item: {
      type: Object
    }
  }
}
</script>

<style scoped>
.card-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 16px;
  padding: 0 0 12px;
  border-bottom: 1px solid #C4C4C4;
}
.card-content-wrapper {

}

.card-content .card-content__text {
  font-size: 18px;
  line-height: 24px;
}
</style>
