<template>
  <div class="main-card">
    <h1 class="main-card__title">{{ data.name }}</h1>
    <p class="main-card__location">{{ data.location }}</p>
    <CardContent :item="data" class="main-card__content"></CardContent>
    <p class="main-card__relevance">{{ dateNow }}</p>
    <div class="main-card__buttons" :class="{'justify-end': hideRemoveButton}">
      <ButtonPrimary v-if="!hideRemoveButton" class="main-card__button" @click-button="removeCard">REMOVE</ButtonPrimary>
      <ButtonPrimary class="main-card__button" @click-button="reloadData()">reload</ButtonPrimary>
    </div>
  </div>
</template>

<script>
import CardContent from './CardContent'
import ButtonPrimary from './ButtonPrimary'
import { mapActions } from 'vuex'
import moment from 'moment'

export default {
  name: 'CityCard',
  components: {
    ButtonPrimary,
    CardContent
  },
  props: {
    data: {
      type: Object,
      required: true
    },
    hideRemoveButton: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      date: moment(),
      interval: null,
      dateNow: null
    }
  },
  computed: {},
  created () {
    this.dateNow = this.date.fromNow()
    this.interval = setInterval(() => {
      this.dateFromNow()
    }, 6000)
  },
  destroyed () {
    clearInterval(this.interval)
  },
  methods: {
    ...mapActions({
      getWeather: 'getWeather',
      removeCityCard: 'removeCityCard'
    }),
    dateFromNow () {
      this.dateNow = this.date.fromNow()
    },
    async reloadData () {
      await this.getWeather(this.data.id)
      this.date = moment()
      this.dateNow = this.date.fromNow()
    },
    removeCard () {
      this.removeCityCard(this.data.id)
    }
  }
}
</script>

<style scoped>

.main-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(10, 10, 10, 0.25);
}

.main-card .main-card__title {
  font-size: 32px;
  line-height: 38px;
}

.main-card .main-card__location {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 24px;
}

.main-card .main-card__relevance {
  margin: 0 0 32px auto;
  font-size: 16px;
  line-height: 24px;
  color: #A8A8A8;
}

.main-card .main-card__content {
  width: 100%;
}

.main-card .main-card__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-card .main-card__buttons.justify-end {
  justify-content: flex-end;
}
</style>
