<template>
  <div class="world-weather">
    <p class="world-weather__title">World Weather</p>
    <p class="world-weather__subtitle">Watch weather in your current location</p>
    <CityCard class="world-weather__main" :data="getDataMainCard" :hideRemoveButton="true"></CityCard>
    <div class="world-weather__list">
      <CityCard class="world-weather__list-card" v-for="(item, idx) in getData" :key="idx" :data="item"></CityCard>
    </div>
    <button class="world-weather__add" @click="openModal()">
      <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8H8v6H6V8H0V6h6V0h2v6h6v2Z" fill="#fff"
              fill-opacity=".87"/>
      </svg>
    </button>
    <AddCityWeatherModal v-if="showModal" @close-modal="closeModal"></AddCityWeatherModal>
  </div>
</template>

<script>
import AddCityWeatherModal from './modal/AddCityWeatherModal'
import { mapGetters, mapActions } from 'vuex'
import CityCard from './CityCard'

export default {
  name: 'WorldWeather',
  components: {
    CityCard,
    AddCityWeatherModal
  },
  data () {
    return {
      showModal: false
    }
  },
  computed: {
    ...mapGetters({
      getData: 'getData',
      getDataMainCard: 'getDataMainCard'
    })
  },
  created () {
    this.getWeatherMainCard()
    this.addCityFromLocalStorage()
  },
  methods: {
    ...mapActions({
      getWeather: 'getWeather',
      getWeatherMainCard: 'getWeatherMainCard'
    }),
    openModal () {
      this.showModal = true
    },
    closeModal () {
      this.showModal = false
    },
    addCityFromLocalStorage () {
      const cityNames = localStorage.getItem('CITY_NAMES').split(',')
      cityNames.forEach(city => {
        this.getWeather(city)
      })
    }
  }
}
</script>

<style scoped>
.world-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  padding: 0 20px 0;
}

.world-weather .world-weather__title {
  font-weight: 300;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 32px;
}

.world-weather .world-weather__subtitle {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
  color: #767676;
}

.world-weather .world-weather__main {
  max-width: 824px;
  width: 100%;
  margin-bottom: 80px;
  box-sizing: border-box;
}

.world-weather .world-weather__add {
  position: fixed;
  right: 45px;
  bottom: 34px;
  padding: 21px;
  background: #9B51E0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.world-weather .world-weather__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1560px;
  width: 100%;
}

@media (min-width: 1552px) {
  .world-weather .world-weather__list-card {
    width: calc((100% - 120px) / 4);
    margin-left: 40px;
  }

  .world-weather .world-weather__list-card:nth-child(4n+1) {
    margin-left: 0;
  }

  .world-weather .world-weather__list-card:nth-child(n+5) {
    margin-top: 40px;
  }
}
@media (min-width: 1201px) and (max-width: 1551px) {
  .world-weather .world-weather__list-card {
    width: calc((100% - 80px) / 3);
    margin-left: 40px;
  }

  .world-weather .world-weather__list-card:nth-child(n+4) {
    margin-top: 40px;
  }

  .world-weather .world-weather__list-card:nth-child(3n+1) {
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .world-weather .world-weather__list {
    justify-content: space-between;
  }

  .world-weather .world-weather__list-card {
    width: 48%;
  }

  .world-weather .world-weather__list-card:nth-child(n+3) {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .world-weather .world-weather__list-card {
    width: 100%;
  }

  .world-weather .world-weather__list-card:nth-child(n+2) {
    margin-top: 40px;
  }
}
</style>
