<template>
  <div id="app">
    <WorldWeather/>
  </div>
</template>

<script>
import WorldWeather from './components/WorldWeather.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    WorldWeather
  },
  computed: {
    ...mapGetters({
      getData: 'getData'
    })
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

#app {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1B1B1B;
  padding: 24px 0 34px;
}

div {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: 700;
}

p {
  font-style: normal;
  font-weight: 400;
}

</style>
